# DATABASE
DATABASE_URL = postgres://example:example@example:5432/example

# AUTH TOKEN
TOKEN_SECRET = YOUR_TOKEN_SECRET

# EMAIL
MAIL_SERVICE = gmail
MAIL_USER = your@email.com
MAIL_PASSWORD = your_password or if you are using gmail, is better to generate an app password in https://myaccount.google.com/apppasswords

# HOST
HOST_URL = your.host.com